# Godot
.import/
.export/
.export_presets.cfg

# Mono / C#
.mono/
*.pdb
*.dll
*.xml
*.json
# Build outputs
bin/
build/
*.so
*.dll
*.exe

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Editor
.vscode/
.idea/

# Carpetas
Build/
android/

# Archivos
*.o
*.os
.sconsign.dblite